$primary-color: #4CAF50;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: red;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    
    // Para telas grandes (desk)
    @media (min-width: 1024px) {
      .div1 {
        flex: 0 0 40%; // A Div1 ocupa 40% da tela
        display: flex;
        flex-direction: column; // Coloca os elementos de dentro de div1 um embaixo do outro
        gap: 10px; // Adiciona espaçamento entre os itens dentro de div1 (ajuste conforme necessário)
      }
      .div2, .div3 {
        flex: 1; // As Div2 e Div3 ocupam o restante do espaço
      }
    }
  
    // Para telas pequenas (mob)
    @media (max-width: 1023px) {
      .div1, .div2, .div3 {
        width: 100%; // Cada div ocupa 100% da largura
        display: block;
      }
  
      .div1 {
        order: 2; // Coloca div1 depois de div3
      }
  
      .div3 {
        order: 3; // Coloca div3 primeiro
      }
  
      .div2 {
        order: 1; // Coloca div2 por último
      }
    }
  }
  